 html {
   font-family: 'Roboto', sans-serif;
 }

/* COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253 */

.header {
  background-color: #0fb9b1;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;

}

body {
  margin: 0px;
}

main {
  display: flex;
  align-items: flex-start;
  background-color: rgba(225, 225, 225, .9);
  background-position: center;
  width: 600px;
  height: 400px;
  position: relative;
  margin-left: 25px;
}

.pot {
  display: flex;
  align-items: center;
  background-color: rgba(225, 225, 225, .9);
  width: 600px;
  height: 400px;
  margin-left: 125%;
  position: absolute;
}

.add-recipe-button {
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  font-size: 15px;
  height: 60px;
  width: 150px;
  margin-right: 40px;
  padding-left: 20px;
}

.meal-button {
  background-color: #0fb9b1;
  margin: 25px 15px 25px 15px;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  margin-left: 100px;
}

#looking-for {
  margin-top: 75px;
  margin-left: 75px;
  font-size: 30px;
}

.choice {
  margin: 15px;
  margin-left: 100px;
}

label {
  font-size: 20px;
}

#cookpot {
  height: 200px;
  width: 300px;
  margin-left: 25%;
}




/* .header {
  font-family: 'Roboto', sans-serif;
  background-color: #0fb9b1;
  background-size: cover;
  display: flex;
  text-align: center;

}

.add-recipe-button {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  margin-left: 73%;
  margin-bottom: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: baseline;

} */

/* .dish {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: rgba(225, 225, 225, .9);
  margin: 25px;
  width: 450px;
  height: 300px;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  position: relative;
  } */

 /* fieldset {
  background-color: rgba(225, 225, 225, .9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  top: 50%;
  left: 25%;
  margin: -100px 0 0 -100px;
}

input {
  margin: .4rem;
}

#cookpot {
  box-sizing: border-box;
  display: flex;
  background-color: rgba(225, 225, 225, .9);
  top: 50%;
  left: 75%;
  position: absolute;
  height: 400px;
  width: 400px;
}

.meal-button {
  font-family: 'Roboto', sans-serif;
  background-color: #0fb9b1;
  padding: 10px 5px 10px 5px;
  margin: 10px 5px 10px 5px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
} */



/* .pot {
  background-color: rgba(225, 225, 225, .9);
  border: solid;
  display: flex;
  ;
} */
